<div data-test-lazy-in-repo-engine-main>
  <h1>Lazy In-Repo Engine</h1>
  <div data-test-duplicated-helper>
    {{duplicated-helper needAnArgumentHere="to force ember to consider this a helper"}}
  </div>
</div>