/packages/core/**/*.js
/packages/core/**/*.d.ts
/packages/compat/**/*.js
/packages/compat/**/*.d.ts
/packages/macros/**/*.js
/packages/macros/**/*.d.ts
/packages/webpack/**/*.js
/packages/webpack/**/*.d.ts
/test-packages/support/**/*.js
/test-packages/**/*.d.ts

# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/packages/*/dist/
/packages/*/tmp/
/test-packages/*/dist/
/test-packages/*/tmp/

# dependencies
bower_components/
node_modules/

# misc
coverage/
!.*

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

#types added
/types/**

