/packages/build/**/*.js
/packages/build/**/*.d.ts
/packages/core/**/*.js
/packages/core/**/*.d.ts
/packages/shared-internals/**/*.js
/packages/shared-internals/**/*.d.ts
/packages/compat/**/*.js
/packages/compat/**/*.d.ts
/packages/config-meta-loader/**/*.js
/packages/config-meta-loader/**/*.d.ts
/packages/macros/**/*.js
/packages/macros/**/*.d.ts
/packages/util/src/**/*.js
/packages/util/src/**/*.d.ts
/packages/webpack/**/*.js
/packages/webpack/**/*.d.ts
/packages/hbs-loader/**/*.js
/packages/hbs-loader/**/*.d.ts
/test-packages/support/**/*.js
/test-packages/**/*.d.ts
/test-packages/release/src/*.js
/test-packages/release/src/*.d.ts
/tests/scenarios/**/*.js
/tests/scenarios/**/*.d.ts
/packages/test-setup/**/*.js
/packages/test-setup/**/*.d.ts
/packages/addon-shim/**/*.js
/packages/addon-shim/**/*.d.ts
/packages/addon-dev/**/*.js
/packages/addon-dev/**/*.d.ts
/tests/fixtures/
/tests/vite-app/
/packages/vite/index.mjs
/packages/vite/index.d.ts
/packages/vite/**/*.js
/packages/vite/**/*.d.ts
/packages/reverse-exports/**/*.js
/packages/reverse-exports/**/*.d.ts


# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/packages/*/dist/
/packages/*/tmp/
/test-packages/*/dist/
/test-packages/*/tmp/

# dependencies
bower_components/
node_modules/

# misc
coverage/
!.*

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

#types added
/types/**

