/node_modules
/packages/*/node_modules
/packages/*/src/**/*.js
/packages/*/src/**/*.d.ts
/packages/*/src/**/*.map
/packages/*/tests/**/*.js
/packages/*/tests/**/*.d.ts
/packages/*/tests/**/*.map
*.log
