# No need to run prettier here
*.md
*.yml
*.yaml
*.html
*.json


# Compiled output
/packages/core/build
/packages/shared-internals/build
/packages/compat/build
/packages/macros/build
/packages/webpack/build
/packages/hbs-loader/build
/test-packages/support/build
/test-packages/release/build
/tests/scenarios/build
/packages/test-setup/build
/packages/addon-shim/build
/packages/addon-dev/build
/tests/fixtures/
/packages/vite/index.mjs
/packages/vite/build
/packages/reverse-exports/build

# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/packages/*/dist/
/packages/*/tmp/
/test-packages/*/dist/
/test-packages/*/tmp/

# dependencies
bower_components/
node_modules/

# misc
coverage/
!.*

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

#types added
/types/**

