{{! this uses two helpers from ember-composable-helpers }}
{{#each (reverse (array "alpha" "beta")) as |word| }}
  <div data-word={{word}}>{{word}}</div>
{{/each}}

{{! then this lists all the helpers loaded into our app. It should have the two
above, but none of the other stuff from composable-helpers }}
{{#each (loaded-helpers) as |name|}}
  <div data-helper-name={{name}}>{{name}}</div>
{{/each}}