<div data-test="check-service">
  {{#if this.message}}
  {{this.message}}
  {{else}}
  No service present
  {{/if}}
</div>
<div data-test="check-addon-file">
  {{#if this.addonFileValue}}
  {{this.addonFileValue}}
  {{else}}
  No addon file value
  {{/if}}
</div>