<div data-test-lazy-engine-main>
  <h1>Lazy engine</h1>
  <div data-test-duplicated-helper>{{duplicated-helper needAnArgumentHere="to force ember to consider this a helper"}}
  </div>
  <div data-test-engine-component>
    <EngineComponent @value="Sam"/>
  </div>
</div>