name: CI

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * *' # daily, 7am

  push:
    branches:
      - main
  pull_request:
    branches: [main]

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  preflight:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - name: lint
        run: pnpm lint
      - id: set-matrix
        working-directory: test-packages/support
        run: |
          matrix_json=$(node ./suite-setup-util --matrix)
          echo "matrix=$matrix_json" >> $GITHUB_OUTPUT

  test:
    needs: ['preflight']
    name: ${{ matrix.name }}
    runs-on: '${{ matrix.os }}-latest'
    timeout-minutes: 60

    strategy:
      fail-fast: false
      max-parallel: 50 # this is trying to avoid hitting API rate limits when too many tests are hitting the github API at once.
      matrix: ${{fromJson(needs.preflight.outputs.matrix)}}

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
        with:
          use_lockfile: false
      - name: Work around windows short path alias # https://github.com/actions/runner-images/issues/712
        if: runner.os == 'Windows'
        run: new-item D:\a\temp -ItemType Directory; echo "TEMP=D:\a\temp" >> $env:GITHUB_ENV
      - name: suite
        run: ${{ matrix.command }}
        working-directory: ${{ matrix.dir }}
